<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259251351524-ckpftjfsar93qbrmkrovv32alvqcfvph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259251351524-ckpftjfsar93qbrmkrovv32alvqcfvph</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>259251351524-ra72asv5cre2j7a0i38tgi3upm5r61kp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBya3LDY5OlphLL0b84MBIctAR_mKroLuk</string>
	<key>GCM_SENDER_ID</key>
	<string>259251351524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.googleusercontent.apps.259251351524-ckpftjfsar93qbrmkrovv32alvqcfvph</string>
	<key>PROJECT_ID</key>
	<string>decide-ai-89445</string>
	<key>STORAGE_BUCKET</key>
	<string>decide-ai-89445.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259251351524:ios:99cd20d0dcedacf39aa1f1</string>
</dict>
</plist>